Repository Arka7777/HealthCare, pull requests merged in 2025-02, with the labels that each got.

#1 init : server initiated
  .gitignore
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/server.js
Labels: backend

#4 feat:models
  backend/model/clinicModel.js
  backend/model/doctorModel.js
  backend/model/shopModel.js
  backend/model/userModel.js
Labels: backend

#5 add: controllers , routes ; modi: .env , server.js
  backend/.env
  backend/controller/userController.js
  backend/routes/userRoute.js
  backend/server.js
Labels: enhancement, backend

#11 fit: user signup added
  backend/routes/userRoute.js
  backend/server.js
Labels: bug, enhancement, backend

#13 fix: indentation error in app.jsx
  frontend/src/App.jsx
Labels: bug

#32 fits : login features added and connected to backend
  backend/controller/userController.js
  backend/model/userModel.js
  backend/routes/userRoute.js
  backend/server.js
  frontend/src/AuthPage/AuthPage.jsx
  frontend/src/Home_components/Navbar.jsx
  frontend/vite.config.js
Labels: backend, frontend

#42 fits : booking functionality
  backend/controller/clinicController.js
  backend/model/appointmentModel.js
  backend/routes/appointmentRoute.js
  backend/routes/clinicRoute.js
  backend/server.js
  frontend/src/App.jsx
  frontend/src/Clinic/ClinicPage.jsx
  frontend/src/FindDoctors/DoctorCard.jsx
  frontend/src/FindDoctors/Find_Doctors.jsx
  frontend/src/Profile/UserProfile.jsx
Labels: enhancement, backend, frontend
